<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/main/main.css">
    <link rel="stylesheet" href="/main/quickmenu.css">
    <link rel="stylesheet" href="/board/notice/readNotice.css"> -->
     <link rel="stylesheet" th:href="@{/css/index.css}">	  
     <link rel="stylesheet" th:href="@{/css/notice.css}">


    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script>
        // 권한부여, AJAX 통신 후 코드 수정해야함
        const message = '[[${message}]]';
		message && alert(message);
    </script>
    

    <title>Hice Coffee</title>
</head>

<body>

    <!-- <div class="hd-top">
        <div class="inside-box">
            <div class="main-header-dsn">
                <ul class="main-header">
                    <li><a href="/login/login.html">로그인</a></li>
                    <li><a href="/login/signUp.html">회원가입</a></li>
                    <li><a href="#">장바구니</a></li>
                    <li><a href="/member/memberPage.html">마이페이지</a></li>
                    
                </ul>
                <a href="./main.html"><img src="/images/로고편집2.png" alt="HOME"></a>
                <a href="#">검색창</a>
            </div>
        </div>
    </div>
    <br>


    <div class="bg-img">
        
        <img src="/images/메인이미지2.jpg" alt="배경이미지">

    </div>
    <div class="hd-mid">
        
        <ul class="main-ctg1">
            <li style="display:inline"><a href="#">CATEGORY</a></li>
        </ul>
        <ul class="main-ctg2">
            <li style="display:inline"><a href="../board/best/best.html">BEST</a></li>
            <li style="display:inline"><a href="../board/mall/mall.html">MALL</a></li>
            <li style="display:inline"><a href="../board/review/review.html">REVIEW</a></li>
            <li style="display:inline"><a href="/store/store.html">STORE</a></li>
            <li style="display:inline"><a href="../event/event.html">EVENT</a></li>
            <li style="display:inline"><a href="../board/notice/notice.html">NOTICE</a></li>
            <li style="display:inline"><a href="../board/qna/qna.html">Q&A</a></li>
        </ul>
        </ul>
    </div>

    

    퀵 메뉴 스크롤
    <script>
        $(document).ready(function () {
            var currentPosition = parseInt($(".quickmenu").css("top"));
            $(window).scroll(function () {
                var position = $(window).scrollTop();

                $(".quickmenu").stop().animate({
                    // top : position + currentPosition + "px"
                    top: position + "px"
                    // top : 140
                }, 1000);

            });
        });
    </script>

    퀵 메뉴
    <div class="quickmenu">
        <ul>
            <div class="kakaomenu1">
                <a href="#">카카오톡<br>실시간채팅<br>ID : HICE
                    <img src="/images/카카오톡.jpg"></a>
            </div>

            <hr>
            <li><a href="./board/notice/notice.html">공지사항</a></li>
            <li><a href="/event/event.html">이벤트</a></li>
            <li><a href="./board/qna/qna.html">상품문의</a></li>
            <li><a href="./board/review/review.html">구입후기</a></li>
            <hr>
            <li><a href="#">적립금</a></li>
            <li><a href="#">장바구니</a></li>
            <li><a href="#">주문조회</a></li>
            <li><a href="#">배송조회</a></li>
            <hr>
            <h4>CALL CENTER</h4>
            <h3>070-1234-5678</h3>
            <h6>평일 : AM10시 ~ PM18시<br>
                점심 : PM12시 ~ PM13시<br>
                토, 일, 공휴일은 휴무입니다.</h6>
            <hr>
            <h4>BANK ACCOUNT</h4>
            <h4>123-4567-9811-05</h4>
            <h5>KB국민 / 하이스커피</h5>
        </ul>
    </div> -->
    <div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>

    <!-- 개발진행 -->
    <div class="notice-tb">
                     
        <h1>공지 사항 확인</h1>
        
        <div class="notice-title">택배 파업으로 인한 배송 안내 (제주 지역)</div>
        <div class="notice-content">
            최근 택배 노조 파업으로 인해 배송 일정 관련하여 안내드립니다.<br>
            현재 저희 택배 업체 측으로는 정상적으로 배송 업무를 진행한다고<br>
            안내 받았으나, 제주지역 같은 경우에는 추후 파업에 참여하게 될 수 있으며<br>
            이로 인해 배송 지연이 발생할 수 있는 점을 미리 양해 부탁 드립니다.<br>
            항상 저희 하이스커피를 이용해주셔서 감사드리며<br>
            즉각적인 소통으로 불편함 없이 안내를 도와드리겠습니다.
        </div>
        <div class="notice-btn-box">
            <div class="notice-btn" onclick="window.location.href='./noticeList'">목록으로</div>
            <div class="notice-btn-box flex-row">
                <div class="notice-btn mr-10">수정</div>
                <div class="notice-btn" id="btnForChange">삭제</div>
            </div>
        </div>
    </div>
    <br><br><br><br>





    <!--하단 영역 -->
<!--     <div class="footer">
        <div class="hd-foot">

            <ul class="xans-element- xans-layout xans-layout-footer site-wrap area">
                <li class="notice">
                    <div class="title">
                        <ul class="title-con">
                            <li>notice</li>
                        </ul>
                        <a href="./board/notice/notice.html">
                            <img src="/images/btn_more.png" alt="더보기">
                        </a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        

        하단 로고
        <div class="hice-logo">
            <div class="foot-logo-menu">
                <a href="./main.html">
                    <img src="/images/로고편집2.png" alt="하단로고">
                </a>

                <ul class="foot-link">
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                    <li><a href="#">광고/제휴문의</a></li>
                </ul>
            </div>
        </div>

        하단 정보
        <div class="information">
            <div class="cont">
                <li>information</li>
                <br>
                <li>상호명 : 하이스커피</li>
                <li>대표 : 문앞조</li>
                <li>사업자등록번호 : 123-45-67890</li>
                <li>통신판매업신고번호 : 2022-서울종로-0917</li>
                <li>주소 : 서울특별시 종로구 인사동길12 대일빌딩 15층</li>
                <li>메일 : team-front-door@naver.com</li>
                <li>개인정보 관리자 : </li>

            </div>
        </div>
        
    </div>
    
</div> -->
	<div th:replace="main/section.html"></div>
    <div th:replace="main/footer.html"></div>

</body>
<footer>
    <script>
        // 등록, 수정 버튼 바꾸는 코드, 한번 짜보기
        // $("#btnForChange")
    </script>
    
</footer>

</html>